@import url('fonts.css');

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    --rpx: 100vw / 1280;
}

.footer-container {
    overflow: hidden;
}

.footer-container,
.footer-container * {
    box-sizing: border-box;
}

.footer-container input,
select,
textarea,
button {
    outline: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(1280 * var(--rpx));
    height: calc(98 * var(--rpx));
    margin: 0 auto;
    padding: calc(10 * var(--rpx)) calc(24 * var(--rpx)) calc(10 * var(--rpx))
    calc(24 * var(--rpx));
    background: #ffffff;
    border-top: calc(1 * var(--rpx)) solid #ebebeb;
}
.footer-container .info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(502 * var(--rpx));
    position: relative;
    width: calc(1172 * var(--rpx));
}
.footer-container .send-email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(8 * var(--rpx));
    position: relative;
    width: calc(148 * var(--rpx));
    z-index: 1;
}
.footer-container .mail-icon-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: calc(10 * var(--rpx));
    position: relative;
    width: calc(62 * var(--rpx));
    height: calc(62 * var(--rpx));
    padding: calc(14 * var(--rpx)) calc(14 * var(--rpx)) calc(14 * var(--rpx))
    calc(14 * var(--rpx));
    background: #ffffff;
    border: calc(1 * var(--rpx)) solid #000000;
    z-index: 2;
    border-radius: calc(31 * var(--rpx));
}
.footer-container .mail-icon-svg {
    flex-shrink: 0;
    position: relative;
    width: calc(28.333335876464844 * var(--rpx));
    height: calc(22.666669845581055 * var(--rpx));
    background: url(../images/mailicon.svg)
    no-repeat center;
    background-size: cover;
    z-index: 3;
}
.footer-container .send-mail-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: calc(78 * var(--rpx));
    height: calc(32 * var(--rpx));
    color: #000000;
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 4;
}
.footer-container .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: calc(522 * var(--rpx));
    z-index: 5;
}
.footer-container .made-info-text {
    flex-shrink: 0;
    position: relative;
    width: calc(522 * var(--rpx));
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: right;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 6;
}
.footer-container .made-by-jerrykiki {
    position: relative;
    color: #000000;
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: right;
}
.footer-container .separator {
    position: relative;
    color: #000000;
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: right;
    letter-spacing: calc(3.2 * var(--rpx));
}
.footer-container .text-4 {
    position: relative;
    color: #000000;
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: right;
}
.footer-container .text-5 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: calc(32 * var(--rpx));
    color: #000000;
    font-family: Noto Sans KR, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(32 * var(--rpx));
    text-align: right;
    white-space: nowrap;
    z-index: 7;
}