@import url('fonts.css');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 95px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #ebebeb;
}

.header .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 153px;
    position: relative;
    flex: 0 0 auto;
}

.header .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
    cursor:pointer;
}

.header .logo-svg {
    position: relative;
    width: 24px;
    height: 24px;
}

.header .logo-text {
    position: relative;
    width: 113px;
    height: 24px;
    margin-top: -1px;
    font-family: "Keania One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    white-space: nowrap;
    line-height: 24px;
}

.header .menu-items {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    position: relative;
    flex: 0 0 auto;
}

.header .menu-items-text {
    position: relative;
    width: 113px;
    height: 24px;
    margin-top: -1px;
    font-family: "Noto Sans KR", Sans-Serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    line-height: 24px;
    cursor: pointer;
}

.header .login-menu-text {
    position: relative;
    width: 113px;
    height: 24px;
    margin-top: -1px;
    font-family: "Keania One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    white-space: nowrap;
    line-height: 24px;
    cursor: pointer;
}