/* Figma Styles of your File */
:root {
    /* Colors */
    /* Fonts */
    --notosans-16-font-family: NotoSansKr-Regular, sans-serif;
    --notosans-16-font-size: 16px;
    --notosans-16-line-height: 120px;
    --notosans-16-font-weight: 400;
    --notosans-16-font-style: normal;

    /* Effects */
}
